*.pyc
*.pyo
*.bak
httpserver.*
parameters_*.py
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
cron.master
_FOSSIL_
*.fossil
applications/*/cache/*
applications/*/databases/*
applications/*/sessions/*
applications/*/errors/*
