{{extend 'layout.html'}}

{{ block header_bonus }}
    <h2>{{= feed["feed_title"] }}</h2>
    <a href="{{= URL("mark_read", args=[feed["id"]]) }}" class="button">Mark feed as read</a>
{{ end }}

<section id="story-list">
{{
import time 
s = time.time()
}}
    {{ 
        for story in stories: 
        if sum([v for k,v in story["intelligence"].iteritems()]) < threshold:
            continue
    }}

        {{ print story["read_status"] }}
        <div class="story">
            <a href="{{= URL(c="stories", f="view", vars=dict(story=story["id"], feed_id=feed["id"])) }}" class="{{= "unread" if story["read_status"] == 0 else "read" }}">
                {{= story["story_title"] }}
            </a>
            <p>{{= story["story_date"] }}</p>
        </div>
    {{ pass }}
{{ print time.time() - s }}
</section>
