{{extend 'layout.html'}}

{{ block header_bonus }}
    <h2>{{= feed["feed_title"] }}</h2>
    <a href="{{= URL("mark_read", args=[feed["id"]]) }}" class="button">Mark feed as read</a>
{{ end }}

<section id="story-list">
    {{ 
    for story in stories: 
        intel = get_intelligence_rating(story)
    }}

            <a href="{{= URL(c="stories", f="view", vars=dict(story=story["id"], feed_id=feed["id"], feed_title=feed["feed_title"], page=story["page"])) }}" class="list-item">
                <div>
                    <p class="story-title {{= "read" if story.has_key("read_status") or story["read_status"] != 0 else "" }} story-title-{{= thresholds[intel] }} ">{{= story["story_title"] }}</p>
                    <p class="story-date">{{= story["story_date"] }}</p>
                    {{ if request.vars.has_key("dev-mode"): }}
                        </p>{{= story["intelligence"] }}: {{= get_intelligence_rating(story) }}</p>
                    {{ pass }}
                </div>
            </a>
        {{ pass }}
    {{ pass }}
</section>

{{ block footer_bonus }}
    {{ if stories[0]["page"] > 1: }}
        <p><a href="{{= URL(args=[feed_id], vars={"page": stories[0]["page"]-1}) }}">← Newer stories</a></p>
    {{pass}}

    <p><a href="{{= URL(args=[feed_id], vars={"page": stories[-1]["page"]+1}) }}">→ Older stories</a></p>

    <hr />
{{ end }}
