

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.story.unread .title {
    color: orange;
}

.feed-ps, .story.score-ps {
    background-color: green;
}
.feed-nt, .story.score-nt {
    background-color: white;
}
.feed-ng, .story.score-ng {
    background-color: red;
}
