

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.story.unread .title {
    color: ora-1e;
}

.feed-1, .story.score-1 {
    background-color: green;
}
.feed-0, .story.score-0 {
    background-color: yellow;
}
.feed--1, .story.score--1 {
    background-color: red;
}
