{{extend 'layout.html'}}

{{ block header_bonus }}
    <h2>
        <a href="{{= URL("feeds", "view", args=[feed_id], vars=dict(page=requested_story["page"])) }}">{{= feed_title }}</a>
    </h2>
    <h3>
        <a href="{{= requested_story["story_permalink"] }}">{{= requested_story["story_title"] }}</a>
    </h3>

    <a href="{{= URL("mark_unread", vars=dict(story_id=requested_story["id"], feed_id=feed_id, page=requested_story["page"])) }}" class="button">
        Leave story unread
    </a>
{{ end }}
<section id="story-content">
    {{= XML(requested_story["story_content"]) }}
</section>

{{ block footer_bonus }}
    {{ if next_story is not None: }}
        <p>← Newer story: <a href="{{= URL(c="stories", f="view", vars=dict(story=next_story["id"], feed_id=feed_id, feed_title=feed_title, page=next_story["page"])) }}">{{= next_story["story_title"] }}</a></p>
    {{ pass }}
    {{ if previous_story is not None: }}
        <p>→ Older story: <a href="{{= URL(c="stories", f="view", vars=dict(story=previous_story["id"], feed_id=feed_id, feed_title=feed_title, page=previous_story["page"])) }}">{{= previous_story["story_title"] }}</a></p>
    {{ pass }}
{{ end }}
