<p>test1 full print: {{test1}}</p>

{{#test1}}
    <p>test1 Val1: {{Val1}}</p>
    <p>test1 Val2: {{Val2}}</p>
{{/test1}}

<p>test2 full print: {{test2}}</p>
{{#test2}}
    <p>test2 Val3: {{Val3}}</p>
    <p>test2 Val4: {{Val4}}</p>
    <p>test2 dostuff: {{Dostuff}}</p>
{{/test2}}
