{{extend 'layout.html'}}

{{ block header_bonus }}
    <h2>Feed list</h2>
{{ end }}


{{ for feed in feeds: }}
    <a href="{{= URL(c="feeds", f="view", args=[feed["id"]]) }}" class="list-item">
        <div>
            {{ if threshold == -1 and feed["ng"] > 0: }} <span class='ng'>{{= feed["ng"] }}</span> {{ pass }}
            {{ if threshold <= 0 and feed["nt"] > 0: }} <span class='nt'>{{= feed["nt"] }}</span> {{ pass }}
            {{if feed["ps"] > 0: }}<span class='ps'>{{= feed["ps"] }}</span> {{ pass }}
            <span class="feed-title">{{= feed["feed_title"] }}</span>
        </div>
    </a>
{{ pass }}
